.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.form-container h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.form-container h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 13px;
}
label {
  display: flex;
  justify-content: space-between;
}
label span {
  color: red;
}
p,
li,
button {
  font-size: 14px;
  margin-right: 2px;
  font-weight: 600;
}
.blue-text {
  color: #065bea;
}
.no-account {
  display: flex;
  margin-bottom: 60px;
}
.form-container {
  width: 40%;
  height: 94%;
}

form {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  color: #333333;
  height: 100%;
  width: 75%;
  margin: auto;
}

input {
  margin-top: 7px;
  margin-bottom: 30px;
}
input::placeholder {
  text-align: right;
  font-weight: 600;
}
button,
input {
  padding: 13px;
  border: 1px solid #065bea;
  border-radius: 5px;
}
button {
  background-color: #065bea;
  color: white;
  box-shadow: -5px 27px 33px -18px #1a3788;
  -webkit-box-shadow: -5px 27px 33px -18px#1a3788;
  -moz-box-shadow: -5px 27px 33px -18px #1a3788;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0745b0;
}
button:active {
  box-shadow: -5px 27px 33px -20px #1a3788;
}
button:disabled {
  background-color: #c6d0e0;
}
.footer {
  display: flex;
  list-style-type: none;
  flex: 0.1;
  align-items: end;
  width: 50%;
  justify-content: space-around;
  color: #75777a;
  font-weight: 300;
}

.logo-img {
  width: 50px;
  height: 40px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  flex: 0.2;
}
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .form-container {
    width: 85%;
    height: 60%;
  }

  .form-wrap {
    width: 95%;
  }

  .no-account {
    margin-bottom: 4%;
  }

  .carousel-root {
    height: 40%;
    width: 100%;
  }

  .footer {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
  }
}
